{% extends 'base.html' %}

{% block content %}

<div class="container">
  <h1>Tickets</h1>
  {%for t in tickets.all%}
  <div class="alert alert-success">
    <table class="table">
      <thead>
        <tr>
          <th>Ticket id</th>
          <th>Movie</th>
          <th>Hall</th>
          <th>Start time</th>
          <th>End Time</th>
          <th>Price</th>
          <th>Row|Seat</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{t.id}}</td>
          <td>{{t.order_id.schedule_id.movie}}</td>
          <td>{{t.order_id.schedule_id.hall}}</td>
          <td>{{t.order_id.schedule_id.start_time}}</td>
          <td>{{t.order_id.schedule_id.end_time}}</td>
          <td>{{t.order_id.schedule_id.price}}</td>
          <td>{{t.seat}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  {%endfor%}

</div>
{% endblock %}
