{% extends 'base.html' %}

{% block content %}

<div class="container">

  <h1>{{cinema.name}}</h1>
  <img class="img-rounded" src="{{ cinema.image.url }}" alt="Card image" style="max-width:270px;">
  <h6> Address: {{ cinema.address}}</h6>
  <h6> Rating: - </h6>

  {% if user.is_authenticated %}
    {% if rating != 1 %}
    <form method="POST" action="{% url 'rate_cinema' cinema.id %}">
      {% csrf_token %}
      <label><h6>Rate cinema</h6></label>
      <select class="" name="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <button class="btn btn-success xs" type="submit" name="button">Submit</button>
    </form>
    {% endif %}
  {% endif %}

  <hr>

  <div class="row">
    <div class="panel panel-default widget" style="width:100%;">
      <div class="panel-heading">
        <span class="glyphicon glyphicon-comment"></span>
        <h3 class="panel-title ml-2">Forum</h3>
      </div>

      <div class="panel-body">
        <ul class="list-group">
          {% for comment in comments %}
          <li class="list-group-item">
            <div class="row">
              <div class="col-xs-2 col-md-1">
                <img src="http://placehold.it/80" class="img-circle img-responsive" alt="" /></div>
              <div class="col-xs-10 col-md-11">
                <div>
                  <div class="mic-info">
                    By: <a href="#">{{comment.user.username}}</a> on {{ comment.created_at }}
                  </div>
                </div>
                <div class="comment-text">
                  {{ comment.text }}
                </div>
                {% if user.is_authenticated and user.id == comment.user.pk %}
                <div class="action">
                  <a href="{% url 'edit_cinema_comment' comment.id  %}?next={{ request.path|urlencode }}">
                    <i class="fas fa-edit"></i>
                  </a>
                  <a href="{% url 'delete_cinema_comment' comment.id  %}?next={{ request.path|urlencode }}">
                    <i class="fas fa-trash" style="color:red"></i>
                  </a>
                </div>
                {% endif %}
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>

    </div>
  </div>

  {% if user.is_authenticated %}
    <div class="form-group">
      <form method="POST" action="{% url 'cinema_about' cinema.id %}">
      {% csrf_token %}
        <label for="comment">Comment:</label>
        <textarea class="form-control" rows="5" id="comment" name="comment"></textarea>
        <button type="submit" class="btn btn-success mt-1 pull-right">Submit</button>
      </form>
    </div>
  {% endif %}
</div>


{% endblock %}
