{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row">
    {% for movie in films.all %}

    <div class="card col-3" style="margin-top:20px">
      <img class="card-img-top" src="{{ movie.image.url }}" alt="Card image" class="img-fluid">
      <div class="card-body">
        <h4 class="card-title">{{ movie.name}}</h4>
        <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
        <a href="{% url 'movie_details' movie.id %}" class="btn btn-primary">Details</a>
      </div>
    </div>
    <div class="col-1"></div><br>
    {% endfor %}
  </div>

</div>

{% endblock %}
